.degree{
    font-size: 70px;
}
.cel{
    position: relative;
    top: -42px;
    left: -10px;
    font-size: 20px;
}
.sun{
    font-size: 60px;
}
.city{
    font-size: 30px;
    font-weight: bolder;
    margin: 0px 0px 0px 0px;
}
section{
    font-weight: lighter;
    font-size: 20px;
}
h2{
    font-weight: lighter;
    font-size: 23px;
    position: relative;
    top: -70px;
    right: -350px;
}
ul{
    list-style-type: none;
    font-size: 20px;
    margin: -10px 0px 0px -10px;
    
}
header{
    margin: 10px 0px;
}
main{
    background-size: 70% 120%;
    padding: 20px 30px;
    border:2px solid black;
    max-width:800px;
    margin: 20px 0px 0px 40px;
}
footer{
    margin: 20px 0px 0px 50px;
}
